<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs</title>
    <link rel="stylesheet" href="../static/css/faqs.css" />
    <link rel="website icon" type="png" href="../static/img/Logo.png">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>


<body>
  <div class="wrapper">
    <!-- <a href="{% url 'home' %}" class="messi">GlobalTalk</a> -->
    <h1>Frequently Asked Questions</h1>
    <div class="faq">
      <button class="accordion">
        What is GlobalTalk
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="pannel">
        <p>
          To enroll in courses, simply log in to your GlobalTalk account, 
          browse the available courses, and click on the "Enroll" button 
          for the course of your choice. Follow the on-screen instructions 
          to complete the enrollment process.
        </p>
      </div>
    </div>

      <div class="faq">
        <button class="accordion">
          How do I enroll in website on GlobalTalk?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
          To enroll in courses, simply log in to your GlobalTalk account, 
          browse the available courses, and click on the "Enroll" button 
          for the course of your choice. Follow the on-screen instructions 
          to complete the enrollment process.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          Can I access course materials offline?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            Currently, GlobalTalk primarily operates online. 
            However, you can save course materials for offline 
            viewing using our mobile app. Simply download the 
            lessons when you have an internet connection and 
            access them later without needing an internet connection.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          What types of assessments are used in website
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            GlobalTalk incorporate various assessments, 
            including games, assignments, and interactive learning books. 
            These assessments are designed to evaluate your understanding 
            of the material and reinforce your learning.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          Do I receive a certificate upon completing textbooks/games on GlobalTalk?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            No, GlobalTalk currently does not provide certificates for 
            course completion. The focus is on enhancing your language 
            skills and knowledge. We encourage you to showcase your 
            achievements on your profile and share your progress within 
            our learning community.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          How does it work?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
            GlobalTalk integrates learning and entertainment. 
            Begin with our comprehensive textbooks to strengthen your 
            language foundation. Afterward, engage in word games that 
            make learning fun and reinforce your vocabulary. This dual 
            approach ensures an immersive and effective language learning 
            experience. Join us to enjoy a seamless blend of education and entertainment!
          </p>
        </div>
      </div>
    </div>

    <script src="../static/js/faqs.js"></script>
</body>
</html>
