<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/our_team.css" />
    <title>Our Team</title>
    <link rel="website icon" type="png" href="../static/img/Logo.png">
  </head>
  

  <body>
    <nav>
      <div class="nav__content">
        <div class="logo">
            <a href="{% url 'home' %}">GlobalTalk</a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="section__container">
        <div class="content">
          <p class="subtitle">HELLO</p>
          <h1 class="title">
            I'm <span>Nihat<br />a</span> Web Developer
          </h1>
          <p class="description">
            Welcome to our team webpage! I'm Nihat, a skilled and
            creative web developer with a passion for creating beautiful,
            responsive, and user-friendly websites. I've worked on this
            web project, although others were in groups but I'm only human after all.<br>
            (I am not nigger)
          </p>
          <div class="action__btns">
            <button class="hire__me">
              <a href="https://www.linkedin.com/in/nihat-zakarya-16349b299/">Contact Me</a>
            </button>
          </div>
        </div>
        <div class="image">
          <img src="../static/img/nigger.jpg" alt="profile" />
        </div>
      </div>
    </section>
  </body>
</html>