<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="../static/css/login.css"> -->
    <!-- <title>Login</title>
    <link rel="website icon" type="png" href="../static/img/Logo.png"> -->
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Password reset complete</h1>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>