{% load static simple_tags %}

<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

      <!--=============== SWIPER CSS ===============-->
      <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">
      <link rel="stylesheet" href="../static/css/textbook.css">

      <title>Textbook</title>
      <link rel="website icon" type="png" href="../static/img/Logo.png">

   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'home' %}" class="nav__logo">
                    <!-- <i class="ri-book-3-line"></i>--> GlobalTalk 
                </a>

                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link active-link">
                                <i class="ri-home-line"></i>
                                <span>E-book</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#featured" class="nav__link">
                                <i class="ri-book-3-line"></i>
                                <span>Featured</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#discount" class="nav__link">
                                <i class="ri-price-tag-3-line"></i>
                                <span>Discount</span>
                            </a>
                        </li>
                        
                        <li class="nav__item">
                            <a href="#new" class="nav__link">
                                <i class="ri-bookmark-line"></i>
                                <span>New Books</span>
                            </a>
                        </li>
                        
                        <li class="nav__item">
                            <a href="#testimonial" class="nav__link">
                                <i class="ri-message-3-line"></i>
                                <!-- <span>Testimonial</span> -->
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="nav__actions">
                    <!-- search -->
                    <!-- <i class="ri-search-line search-button" id="search-button"></i>  -->

                    <!-- login -->
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'userprofile' %}" class="userprofile"><i class="ri-user-line login-button" id="login-button"></i></a>
                        {% else %}
                        <a href="{% url 'login' %}" class="login"><i class="ri-user-line login-button" id="login-button"></i></a>
                        {% endif %}
                    

                    <!-- theme deyismek -->
                    <i class="ri-moon-line change-theme" id="theme-button"></i>
                </div>
            </nav>
      </header>

      <!--==================== SEARCH ====================-->
        <div class="search" id="search-content">
            <form action="" class="search__form">
                <i class="ri-search-line search__icon"></i>
                <input type="search" placeholder="What are you looking for?" class="search__input">
            </form>

            <i class="ri-close-line search__close" id="search-close"></i>
        </div>

      <!--==================== LOGIN ====================-->
        <div class="login grid" id="login-content"></div>

      <!--==================== MAIN ====================-->
        <main class="main">
         <!--==================== HOME ====================-->
            <section class="home section" id="home">
                <!-- <div class="home__container container grid"> -->
                    <div class="home__data">
                        <h1 class="home__title">
                            Browse & <br>
                            Select E-Books
                        </h1>

                        <p class="home__description">
                            Find the best e-books from your favorite
                            writers, explore hundreds of books with all
                            possible categories, take advantage of the
                            50% discount and much more.
                        </p>

                        <a href="{% url 'textbook' %}" class="button">Explore Now</a>
                    <!-- </div> -->

                    <div class="home__images">
                        <div class="home__swiper swiper">
                            <div class="swiper-wrapper">
                                {% book as books %}
                                {% for i in books %}
                                <article class="home__article swiper-slide">
                                    <img src="{{i.image.url}}" alt="image" class="home__img">
                                </article>
                                {% endfor %}

                                <!-- <article class="home__article swiper-slide">
                                    <img src="../static/img/home-book-2.png" alt="image" class="home__img">
                                </article>

                                <article class="home__article swiper-slide">
                                    <img src="../static/img/home-book-3.png" alt="image" class="home__img">
                                </article>

                                <article class="home__article swiper-slide">
                                    <img src="../static/img/home-book-4.png" alt="image" class="home__img">
                                </article> -->
                            </div>
                        </div>
                    </div>
                </div>
            
            </section>

         <!--==================== SERVICES ====================-->
            <section class="services section">
                <div class="services__container container grid">
                    <article class="services__card">
                        <i class="ri-truck-line"></i>
                        <h3 class="services__title">Free Shipping</h3>
                        <p class="services__description">Order More Than $100</p>
                    </article>

                    <article class="services__card">
                        <i class="ri-lock-2-line"></i>
                        <h3 class="services__title">Secure Payment</h3>
                        <p class="services__description">100% Secure Payment</p>
                    </article>

                    <article class="services__card">
                        <i class="ri-customer-service-2-line"></i>
                        <h3 class="services__title">24/7 Support</h3>
                        <p class="services__description">Call us anytime</p>
                    </article>
                </div>
            </section>

         <!--==================== FEATURED ====================-->
         <h2 class="section__title">Featured Books</h2>
            <section class="featured section" id="featured">

                <div class="featured__container container">
                    <div class="featured__swiper swiper">
                        <div class="swiper-wrapper">
                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-1.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-2.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-3.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-4.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-5.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-6.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-7.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-8.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-9.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>

                            <article class="featured__card swiper-slide">
                                <img src="../static/img/book-10.png" alt="image" class="featured__img">

                                <h2 class="featured__title">Featured Books</h2>
                                <div class="featured__prices">
                                    <span class="featured__discount">Free</span>
                                    <span class="featured__price">$9.99</span>
                                </div>

                                <button class="button">Read Now</button>

                                <div class="featured__actions">
                                    <button><i class="ri-search-line"></i></button>
                                    <button><i class="ri-heart-3-line"></i></button>
                                    <button><i class="ri-eye-line"></i></button>
                                </div>
                            </article>
                        </div>

                        <div class="swiper-button-prev">
                            <i class="ri-arrow-left-s-line"></i>
                        </div>

                        <div class="swiper-button-next">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                    </div>
                </div>
            </section>

         <!--==================== DISCOUNT ====================-->
            <section class="discount section" id="discount">
            <div class="discount__container container grid">
                <div class="discount__data">
                    <h2 class="discount__title section__title">
                        Up To 100% Discount
                    </h2>

                    <p class="discount__description">
                        Take advantage of the discount days we
                        have for you, read books from your favorite
                        writers, the more you explore, the more
                        discount we have for you.
                    </p>

                    <!-- <a href="#" class="button">Shop Now</a> -->
                </div>

                <div class="discount__images">
                    <img src="../static/img/discount-book-1.png" alt="image" class="discount__img-1">
                    <img src="../static/img/discount-book-2.png" alt="image" class="discount__img-2">                
                </div>
            </div>
            </section>

         <!--==================== NEW BOOKS ====================-->
         <h2 class="section__title">New Books</h2>
            <section class="new section" id="new">

                <div class="new__container container">
                    <div class="new__swiper swiper">
                        <div class="swiper-wrapper">
                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-1.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount"Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-2.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-3.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-4.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-5.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-6.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-7.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-8.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-9.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-10.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="new__swiper swiper">
                        <div class="swiper-wrapper">
                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-10.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-9.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-8.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-7.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-6.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-5.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-4.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-3.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-2.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="new__card swiper-slide">
                                <img src="../static/img/book-1.png" alt="image" class="new__img">

                                <div>
                                    <h2 class="new__title">New Book</h2>
                                    <div class="new__prices">
                                        <span class="new__discount">Free</span>
                                        <span class="new__price">$14.99</span>
                                    </div>

                                    <div class="new__stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </main>

      <!--==================== FOOTER ====================-->
        <footer class="footer">
                
                <div class="footer__data grid">
                    <div class="foot1">
                        <a href="#" class="footer__logo">
                            <i class="ri-book-3-line"></i> E-Book
                        </a>
    
                        <p class="footer__description">
                            Find and explore the best <br>
                            eBooks from all your <br>
                            favorite writers.
                        </p>
                    </div>

                    <div class="foot">
                        <h3 class="footer__title">About</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Awards</a>
                            </li>

                            <li>
                                <a href="{%  url 'faqs' %}" class="footer__link">FAQs</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Privacy Policy</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Terms of services</a>
                            </li>
                        </ul>
                    </div>

                    <div class="foot">
                        <h3 class="footer__title">Company</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Blogs</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Community</a>
                            </li>

                            <li>
                                <a href="{%  url 'our_team' %}" class="footer__link">Our team</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Help Center</a>
                            </li>
                        </ul>
                    </div>

                    <div class="foot">
                        <h3 class="footer__title">Contact</h3>

                        <ul class="footer__links">
                            <li>
                                <address class="footer__info">
                                    AzTU <br>
                                    Baku, Azerbaijan
                                </address>
                            </li>

                            <li>
                                <address class="footer__info">
                                    nihatzakarya@gmail.com <br>
                                    +99470-227-73-77
                                </address>
                            </li>
                        </ul>
                    </div>

                    <div class="foot">
                        <h3 class="footer__title">Social</h3>

                        <div class="footer__social">
                            <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                                <i class="ri-facebook-circle-line"></i>
                            </a>

                            <a href="https://www.twitter.com/" target="_blank" class="footer__social-link">
                                <i class="ri-twitter-x-line"></i>
                            </a>

                            <a href="https://www.linkedin.com/" target="_blank" class="footer__social-link">
                                <i class="ri-linkedin-box-line"></i>
                            </a>
                        </div>
                    </div>
                </div>

            <span class="footer__copy">
                &#169; All Rights Reserved By Nihat Zakarya
            </span>
        </footer>

      <!--========== SCROLL UP ==========-->
      <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
      </a>

      <!--=============== SCROLLREVEAL ===============-->
        <script src=""></script>

      <!--=============== SWIPER JS ===============-->
        <script src="../static/js/swiper-bundle.min.js"></script>

      <!--=============== MAIN JS ===============-->
        <script src="../static/js/textbook.js"></script>
    </body>
</html>